.bedroom {
    width: 55px;
}

.bg {
    background: rgba(196, 196, 196, 0.25) !important;
}

.bgt {
    background: #5A57AB !important;

}

.wd {
    width: 75;
}

.warp {
    flex-wrap: wrap !important;
}

.wc {
    width: 290px !important;

    border-radius: 5px !important;
}

.ci {
    width: 150% !important;
    height: 150% !important;

}

.fs18 {
 font-size: 15px !important;
}

.fs10 {
    font-size: 10px !important;
}

.fc {
    background-color: rgba(196, 196, 196, 0.25) !important;
    color: black !important;
    border: none !important;
}

.signmid {
    text-align: center !important;
}